.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 26px;
    margin: 16px;
    width: 200px;
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
  }